﻿@model DataClass.Models.ViewModel.DayReportViewModel
@{
    ViewData["Title"] = "DayReport";
}
 
<h1>Day Report</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("N:")
            </th>
            <th>
                @Html.DisplayName("Revenue")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.PayList)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            
        </tr>
}
    </tbody>
</table>
</hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("N:")
            </th>
            <th>
                @Html.DisplayName("Expenses")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.ExpenList)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            
        </tr>
}
    </tbody>
</table>

