﻿@model HotelSystem.Models.Main.Expenses
@{
    ViewData["Title"] = "CreateExpenses";
}

<div class="container col-md-12">
    <form method="post" action="CreateExpenses">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        @Html.HiddenFor(m=>m.Id)
        @Html.HiddenFor(m=>m.Expens_date)
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label>Expenses</label>
                    <input type="number" name="Expense" id="loanAmount1" value="@Model.Expense" maxlength="10" class="form-control"  placeholder="Expense" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label>Expenses Type</label>
                    @Html.DropDownListFor(m=>m.Expenses_TypeId, new SelectList(ViewBag.ExpensesTypeList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
             <div class="col">
                <div class="form-outline">
                    <label>Payment Type</label>
                    @Html.DropDownListFor(m=>m.Payment_typeId, new SelectList(ViewBag.PaymentTypeList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label>Comment</label>
                    <input type="text" name="Comment" value="@Model.Comment" class="form-control" placeholder="Comment" />
                </div>
            </div>
        </div>

         
        <!-- Submit button -->
        <div class="row mb-4" style="padding:12px">
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Expense</button>
        </div>
    </form>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $("#loanAmount1").on("keyup", null, function () {
            alert("1");
            var input = $("#loanAmount1").val();
            var num = parseFloat(input).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + " $";
            $("#loanAmount1Cur").html(num);
        });
    });
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


