﻿ @model List<DataClass.Models.ViewModel.ExpensesViewModel>
 <a href="/Expenses/CreateExpenses">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Create New Expense
        </button>
    </a>
<table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Expenses</th>
                <th>Expenses Type</th>
                <th>Expense date</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr style="background: #e5f3ff;">
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.Expense</p>
                                    @*<p class="text-muted mb-0">regionName</p>*@
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.ExpensesTypeName</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Expense_date</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Comment</p>
                        </td>
                        <td>
                            <a href="/Expenses/CreateExpenses?Id=@item.Id">
                                <button type="button"
                                class="btn btn-primary"
                                data-mdb-ripple-color="dark">
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>
            }

        </tbody>
    </table>
