﻿@model HotelSystem.Models.Main.Expenses_Type
@{
    ViewData["Title"] = "Create";
}

<div class="container col-md-8">
    <div class="row mb-4"  style="padding-bottom:12px">
        <h3>New Expenses Type </h3>
    </div>
    <form method="post" action="AddOrUpdateExpensesType">
         @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4" >
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="Name" value="@Model.Name" maxlength="30" class="form-control" placeholder="Name" required />
                </div>
            </div>
            <div class="row mb-4" style="padding:12px">
                @if (Model.Id == 0)
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Add Expenses Type</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Update Expenses Type</button>
                }
            </div>
        </div>
    </form>
</div>
