﻿@model IEnumerable<HotelSystem.Models.District>
@{
    ViewData["Title"] = "Index";
}
<h1>Districts</h1>

<a href="AddOrUpdateDistrict">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Create New District
        </button>
    </a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="AddOrUpdateDistrict" asp-route-id="@item.Id">Edit</a> |             
                  <a href="#">
                                <button type="button"
                                class="btn btn-danger"
                                data-mdb-ripple-color="dark">
                                    @Html.ActionLink("Delete","DeleteDistrict",
                            new { Id = item.Id},
                            new { onclick = "return confirm('Are sure wants to Delete?');" })
                                </button>

                            </a>
            </td>
        </tr>
}
    </tbody>
</table>

