﻿@model DataClass.Models.ViewModel.AddPayViewModel

@{
    ViewData["Title"] = "CreateOrder";
    var employeeInfo = ViewBag.RoomList;
}

<div class="container col-md-12">
    <form method="post" action="AddPay">
        @Html.HiddenFor(m=>m.OrderId)
        @Html.HiddenFor(m=>m.ClientId)
        @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="FIO" value="@Model.FIO" class="form-control" readonly required />
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="number" name="Payment" value="@Model.Payment" maxlength="10" class="form-control" placeholder="Payment" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    @Html.DropDownListFor(m=>m.Payment_type, new SelectList(ViewBag.PaymentTypeList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>

         
        <!-- Submit button -->
        <div class="row mb-4" style="padding:12px">
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Pay</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


