﻿@model IEnumerable<DataClass.Models.ViewModel.AllViewModel>

<div class="row">

    @foreach(var item in Model)
    {
        <div class="col-md-3 py-2 px-lg-4 border bg-light" style="height:140px">
            <h3>@item.RoomName</h3>
            @for (int i = 0; i < item.ActiveRoomCount; i++)
            {
            <img src="~/Icons/red.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
            }
            @for (int i = 0; i < item.RoomCount; i++)
            {
            <img src="~/Icons/Blue.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
            }
            <p style="padding:10px">@item.Comment</p>
        </div>
    }
</div>