﻿@model DataClass.Models.ViewModel.AddNewOrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
    var employeeInfo = ViewBag.RoomList;
}

<div class="container col-md-12">
    <div class="row mb-4">
        <div class="col">
            <div class="row mb-4" style="padding-bottom:12px">
                <h3>New Order</h3>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <form action="SearchClient" method="post">
                <div class="row mb-6">
                    <div class="col-md-4">
                        <div class="form-outline">
                            <label>Passport Series</label>
                            <input type="text" name="PassSeria" maxlength="2" class="form-control" placeholder="Passport Seria" required />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-outline">
                            <label>Passport Number</label>
                            <input type="number" name="PassNumber" maxlength="7" class="form-control" placeholder="Passport Number" required />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <button type="submit" style="margin-top: 24px;" class="btn btn-primary btn-block mb-4">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            @if (Model.ClientID == 0)
            {
                <a href="/Order/CreateClient">
                <label></label>
                    <button  style="float:right;" type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                        Create New Client
                    </button>
                </a>
            }
        </div>
    </div>

    
    <form method="post" action="CreateOrder">
        @Html.HiddenFor(m=>m.ClientID)
        @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="FIO" value="@Model.FIO" class="form-control" readonly required />
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label>Payment</label>
                    <input type="number" name="Payment" value="@Model.Payment" maxlength="10" class="form-control" placeholder="Payment" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label>Payment Type</label>
                    @Html.DropDownListFor(m=>m.Payment_type, new SelectList(ViewBag.PaymentTypeList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>

         <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    Per Day Payment
                    <input type="number" name="PaymentForDay" value="@Model.PaymentForDay" maxlength="10" class="form-control" placeholder="Payment For Day" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label>Room</label>
                    @Html.DropDownListFor(m=>m.RoomName, new SelectList(ViewBag.RoomList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="Comment" value="@Model.Comment" class="form-control" placeholder="Comment" />
                </div>
            </div>
        </div>
         <div class="row mb-4">
            <div class="col-md-2">
                <div class="form-outline">
                    <label>AllBusy</label>
                    @Html.CheckBox("AllBusy")
                    @*<input type="checkbox" name="AllBusy"/>*@
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row mb-4" style="padding:12px">
            @if (Model.Id>0) 
            {
                <button type="submit" class="btn btn-primary btn-block mb-4">Update Order</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary btn-block mb-4">Add Order</button>
            }
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

