﻿@{
    ViewData["Title"] = "Create";
    var message = ViewBag.Message ?? string.Empty;
}

<div class="container col-md-10">
    <div class="row mb-4"  style="padding-bottom:12px">
        <h3>New Client</h3>
    </div>
    <form method="post" action="CreateClient">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4" >
            <div class="col">
                <div class="form-outline">
                     <label>First Name</label>
                    <input type="text" name="FirstName" maxlength="15" class="form-control" placeholder="First name" required />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label>Last Name</label>
                    <input type="text" name="LastName" maxlength="20" class="form-control" placeholder="Last name" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label>Middle Name</label>
                    <input type="text" name="MiddleName" maxlength="20" class="form-control" placeholder="Middle Name" required />
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-2">
                <div class="form-outline">
                    <label>Passport Series</label>
                    <input type="text" name="Passport_series" maxlength="2" class="form-control" placeholder="Passport Seria" required/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-outline">
                    <label>Passport Number</label>
                    <input type="number" name="Passport_number" maxlength="7"  class="form-control" placeholder="Passport Number" required/>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="form-outline">
                     <label>Date of birth</label>
                    <input type="date" class="form-control" name="Date_of_birth" required/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-outline">
                    <label>Gender</label>
                    @Html.DropDownList("GenderId", new SelectList(ViewBag.GenderList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>
        
        <!-- Submit button -->
        <div class="row mb-4" style="padding:12px">
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Client</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>