﻿@model DataClass.Models.ViewModel.EditOrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
    var employeeInfo = ViewBag.RoomList;
}
<div class="container col-md-12">
    <form method="post" action="EditOrder">
        @Html.HiddenFor(m=>m.ClientID)
        @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="FIO" value="@Model.FIO" class="form-control" readonly required />
                </div>
            </div>
        </div>
         <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    @Html.DropDownListFor(m=>m.RoomID, new SelectList(ViewBag.RoomList, "Id", "Name"), htmlAttributes: new { id = "city", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" name="Comment" value="@Model.Comment" class="form-control" placeholder="Comment" />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="number" name="PaymentForDay" value="@Model.PaymentForDay" maxlength="10" class="form-control" placeholder="Payment For Day" required/>
                </div>
            </div>
        </div>
         <div class="row mb-4">
            <div class="col-md-2">
                <div class="form-outline">
                    <label>AllBusy</label>
                    @Html.CheckBox("AllBusy")
                    @*<input type="checkbox" name="AllBusy"/>*@
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row mb-4" style="padding:12px">
            <div class="col-md-2">
                <button type="button">
                    @Html.ActionLink("Exit","Index")
                </button>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block mb-4">Update Order</button>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>