﻿@model DataClass.Models.ViewModel.ConnectOrderToRoom
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<!-- Button trigger modal -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'AllView')">AllView</button>
  <button class="tablinks" onclick="openCity(event, 'Orders')">Orders People</button>
</div>

<div id="AllView" class="tabcontent">
 <div class="row">

    @foreach(var item in Model.AllViewModels)
    {
        <div class="col-md-3 py-2 px-lg-4 border bg-light" style="height:140px">
            <h3>@item.RoomName</h3>
            @for (int i = 0; i < item.ActiveRoomCount; i++)
            {
            <img src="~/Icons/red.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
            }
            @for (int i = 0; i < item.RoomCount; i++)
            {
            <img src="~/Icons/Blue.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
            }
            <p style="padding:10px">@item.Comment</p>
        </div>
    }
</div>
     
 </div>

<div id="Orders" class="tabcontent">
    <a href="/Order/CreateOrder">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Create New Order
        </button>
    </a>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Payment</th>
                <th>RoomName</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrdersViewModels)
            {
                if (item.AllPayment < 0)
                {
                    <tr style="background: #f4cdcd;">
                        <td>
                            <div class="d-flex align-items-center">
                                @if (item.Gender == 1)
                                {
                                    <img src="~/Icons/man.png"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px" />
                                }
                                else
                                {
                                    <img src="~/Icons/woman.png"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px" />
                                }
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.AllName</p>
                                    <p class="text-muted mb-0">regionName</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Payment</p>
                            <p class="text-muted mb-0" style="font-size: 11px;">@item.PaymentType</p>
                            <p class="text-muted mb-0" style="font-size: 11px; background:#fd0000;">@item.AllPayment</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.RoomName</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Comment</p>
                        </td>
                        <td>
                            <a href="/Order/EditOrder?OrderId=@item.Id">
                                <button type="button"
                                class="btn btn-primary"
                                data-mdb-ripple-color="dark">
                                    Edit
                                </button>
                            </a>
                            <a href="/Order/AddPay?OrderId=@item.Id">
                                <button type="button"
                                class="btn btn-primary"
                                data-mdb-ripple-color="dark">
                                    AddPay
                                </button>
                            </a>
                            <a href="#">
                                <button type="button"
                                class="btn btn-danger"
                                data-mdb-ripple-color="dark">
                                    @Html.ActionLink("Check Out","CheckOut", "Order",
                            new { OrderId = item.Id},
                            new { onclick = "return confirm('Are sure wants to Check Out?');" })
                                </button>

                            </a>
                        </td>
                    </tr>
                }
                else
                {
                     <tr style="background: #d2f4cd;">
                        <td>
                            <div class="d-flex align-items-center">
                                @if (item.Gender == 1)
                                {
                                    <img src="~/Icons/man.png"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px" />
                                }
                                else
                                {
                                    <img src="~/Icons/woman.png"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px" />
                                }
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@item.AllName</p>
                                    <p class="text-muted mb-0">regionName</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Payment</p>
                            <p class="text-muted mb-0" style="font-size: 11px;">@item.PaymentType</p>
                            <p class="text-muted mb-0" style="font-size: 11px;">@item.AllPayment</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.RoomName</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@item.Comment</p>
                        </td>
                        <td>
                            <a href="/Order/EditOrder?OrderId=@item.Id">
                                <button type="button"
                                class="btn btn-primary"
                                data-mdb-ripple-color="dark">
                                    Edit
                                </button>
                            </a>
                            <a href="/Order/AddPay?OrderId=@item.Id">
                                <button type="button"
                                class="btn btn-primary"
                                data-mdb-ripple-color="dark">
                                    AddPay
                                </button>
                            </a>
                            <a href="#">
                                <button type="button"
                                class="btn btn-danger"
                                data-mdb-ripple-color="dark">
                                    @Html.ActionLink("Check Out","CheckOut", "Order",
                            new { OrderId = item.Id},
                            new { onclick = "return confirm('Are sure wants to Check Out?');" })
                                </button>

                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>