﻿@model List<DataClass.Models.ViewModel.PaymentViewModel>
<div id="Orders" class="tabcontent">
    @if (ViewBag.Error != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Error");
            };
        </script>
    }
   <div class="row mb-4">
        <div class="col">
            <form action="SearchClient" method="post">
                <div class="row mb-6">
                    <div class="col-md-2">
                        <div class="form-outline">
                            <label>Passport Series</label>
                            <input type="text" name="PassSeria" maxlength="2" class="form-control" placeholder="Passport Seria" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline">
                            <label>Passport Number</label>
                            <input type="number" name="PassNumber" maxlength="7" class="form-control" placeholder="Passport Number" required />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label style="margin: 9px;"></label>
                        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top: 24px;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Payment</th>
                <th>Payment Type</th>
                <th>Payment Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@item.Payment</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@item.PaymentTypeName</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@item.PaymentTime.ToString("dd/MM/yyyy")</p>
                    </td>
                    @*<td>
                        <a href="/Order/EditOrder?OrderId=@item.Id">
                        <button type="button"
                        class="btn btn-primary"
                        data-mdb-ripple-color="dark">
                        Edit
                        </button>
                        </a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>