﻿@model IEnumerable<DataClass.Models.ViewModel.ClientViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<form method="post" asp-action="Index">
    <div class="row">
        <input type="search" class="form-control col-md-4" placeholder="Enter Client FirstName or LastName...." value="@ViewData["GetClientDetails"]" name="ClientSearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary col-md-2" style="margin-left:20px;" />

        <a asp-action="Index" class="col-md-2">
            <button type="button" class="btn btn-primary ">
                Get all Client
            </button>
        </a>
    </div>
</form>

<table class="table" style="margin-left: -10px;margin-top: 25px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport_Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport_Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    <p class="fw-normal mb-1">@item.Date_of_Birth.ToString("dd/MM/yyyy")</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport_Series)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport_Number)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.GenderName)
                </td>
                   
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
